$hashTagColor: #648cbf;

.us-colored-square-in-list-item {
  display: inline-block !important;
  padding: 4px;
  margin: 0 0 4px 0;
  font-size: 0.88em;
  line-height: 10px;
  color: $hashTagColor !important;
  background: #fff;
  border: 1px solid $hashTagColor;
  border-radius: 2px;
}

// datetime element add-on by UserScript
.us-datetime-on-list {
  order: 3;
  white-space: nowrap;
}
