@import '../../styles/variables';

$same-color-to-scrapbox-menu-icon: #363c48;
$ui-color: $same-color-to-scrapbox-menu-icon;
$dialog-min-width: 454px;
$dialog-max-width: 84vw;
// don't use vh because viewport will be changed on keyboard area appeared
$dialog-min-height: 400px;
$dialog-max-height: 80vh;
$animation: 158ms map_get($easing, 'easeInOutQuad');

.sx-add-episode-button {
  margin-top: 32px;
  font-size: 12px;
  line-height: 2em;
  color: $ui-color;
  background: none;
  border: 1px solid $ui-color;
  border-radius: 4px;
}

sx-add-episode-form {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;

  .tag-group {
    display: flex;
    gap: 8px;
    padding-bottom: 2px;
  }

  /* used as layout container */
  form {
    display: flex; // will change to none by .-showing-indicator
    flex-direction: column;
    overflow: auto;
    border: none;
  }

  /* input checkbox layout */
  .checkbox-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 8px;
  }

  .input-container {
    position: relative; // for border under input
    flex: 0 1 auto;
    margin-bottom: 12px;
  }

  /* buttons layout */
  .button-container {
    display: flex;
    flex: 0 1 auto;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 2px;
    margin: 0;
  }
}
