@import '../../../styles/variables';

.sx-highlighted-tag-line {
  font-family: 'Kosugi Maru', sans-serif !important;
  font-size: 1.32rem;
  line-height: 13px;
  color: #51c374 !important;
  background: #eef9f3;
  border-top: 1px dashed #e9e9e9;
}
