@import '../../../styles/variables';

[data-sx-highlighted-tag-line='true'] {
  margin: 12px 0 4px;
  overflow-x: auto;
  font-family: 'Kosugi Maru', sans-serif !important;
  font-size: 1.32rem;
  line-height: 13px;
  color: #51c374 !important;
  white-space: nowrap;
  background: #f4ffea;
}
